html {
  font-size: 62.5%;

  &.sr .load-hidden {
    visibility: hidden;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.mail{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.mail img{
    width: 35px;
}

.mail a{
    font-size: 35px;
    display: flex;
    align-items: center;
    color: white;
    gap: 1rem;
}

.mail a:hover{
    opacity: 0.5;
}

@media (max-width: 600px) {
    .mail a{
        font-size: 20px;
    }

    .mail img{
        width: 20px;
    }
}